.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  background: var(--secondary-glow);
  padding: 1em;
}

.board {
  margin-top: 1em;
  display: grid;
  gap: 0.1em;
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  background: var(--primary-glow);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  font-weight: 700;
}

.title {
  
}

.x {
  color: rgb(251, 72, 245);
  text-shadow: rgba(255, 0, 174, 0.3) 1px 0 10px;
}

.o {
  color: rgb(66, 173, 255);
  text-shadow: rgb(46, 49, 253) 1px 0 10px;
}

.button {
  border-radius: 1px;
  border-color: var(--foreground-rgb);
  
}

.winning {
  background-color: rgba(0,0,0,0.4);
  
}